@model _23dh110529_Mystore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success text-white p-2">Chi tiết sản phẩm</h2>

@Html.Partial("PVDProductInfo", Model)
<div class="row">
    <div class="col-md-8 ms-auto">
        @Html.ActionLink("Sửa lại", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary me-2" })
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
