@model _23dh110529_Mystore.Models.ViewModel.ProductDetailVM
@using PagedList.Mvc
<link href="~/Content/MyStyle/CustomerHome.css" rel="stylesheet" type="text/css" />
@if (Model.RelatedProducts != null && Model.RelatedProducts.Any())
    {
        <section class="container-fluid listProduct">
            <h4 style="font-weight:bold">Sản phẩm bán chạy</h4>
            <ul class="feature-container">
                @foreach (var product in Model.RelatedProducts)
                    {
                        <li class="fproduct-item">
                            <div>
                                <a href="@Url.Action("ProductDetail","Home",new {id=product.ProductID} )">
                                    <img src="@Html.DisplayFor(modelItem => product.ProductImage)" />
                                </a>
                            </div>
                            <div>
                                <h5> @Html.DisplayFor(modelItem => product.ProductName)</h5>
                                <p class="prodSale">@Html.DisplayFor(modelItem => product.ProductPrice)</p>
                            </div>
                        </li>
                   }
            </ul>
        </section>

    }