.bn {
    background-image: url('../image/taphoa.png');
  /*  background-repeat: no-repeat;*/
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.banner-content {
    text-align: center;
    color: yellow;
}

    .banner-content h1 {
        font-size: 2.5rem;
        color:powderblue;
        background-color:white;
    }
    .banner-content p {
        font-size: 2rem;
    }

.btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner-content  {
    font-size: 30px;
}

.feature-Prod {
    text-align: center;
    margin-top: 10px;
}

    .feature-Prod h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: lightpink;
    }
.feature-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.fproduct-item {
    width: 300px;
    max-height: 400px;
    margin: 10px;
    gap: 20px;
    flex: 0 0 auto;
    scroll-snap-align:start;
    border:solid 1px pink;
    border-radius:2px ;
}
.fproduct-item p {
    font-size:1.5rem;
}
.fproduct-item,.prodPrice{
    color:orangered;
}
.fproduct-item{
    color:deepskyblue;
}

    .fproduct-item img{
        padding:15px;
        max-height:160px;
        vertical-align:central;
        background-color: transparent;
    }
 /*   .prodContainer {
        margin-top: 15px;
    }

.prodContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.product-item {
    width: 200px;
}

   .prodContainer{
        max-width: 180px;
    }

.prodDes {
    font: arial;
    font-size: 10px;
    color: cornflowerblue;
}

.product-item h3 {
    font-size: 14px;
    margin: 10px 0;
}

.prodPrice {
    font-size: 10px;
    color: darkred;
}*/

