.bn {
    background-image: url('../image/taphoa.png');
  /*  background-repeat: no-repeat;*/
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.banner-content {
    text-align: center;
    color: yellow;
}

    .banner-content h1 {
        font-size: 2.5rem;
        color:powderblue;
        background-color:white;
    }
    .banner-content p {
        font-size: 2rem;
    }

.btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner-content  {
    font-size: 30px;
}
.search-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}

.search-input {
    width: 500px;
    padding: 15px;
    border: 2px solid deepskyblue;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    /* width:100px;*/
}

.searchPd {
    text-align: center;
}

    .searchPd h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: brown;
    }

.search-button:hover {
    background-color: #555;
}

.feature-Prod {
    text-align: center;
    margin-top: 10px;
}

    .feature-Prod h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: lightpink;
    }
.feature-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.fproduct-item {
    width: 300px;
    max-height: 400px;
    margin: 10px;
    gap: 20px;
    flex: 0 0 auto;
    scroll-snap-align:start;
    border:solid 1px pink;
    border-radius:2px ;
}
.fproduct-item p {
    font-size:1.5rem;
}
.fproduct-item,.prodPrice{
    color:orangered;
}
.fproduct-item{
    color:deepskyblue;
}

    .fproduct-item img{
        padding:15px;
        max-height:160px;
        vertical-align:central;
        background-color: transparent;
    }
.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr) );
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.lproduct-item {
    max-height: 500px;
    border: solid 1px green;
    border-radius: 2px;
}

    .lproduct-item img {
        max-height: 120px;
        padding: 15px;
        vertical-align: central;
        background-color: transparent;
    }

.prodPrice {
    font-size: large;
    color: blue;
    font-weight: bolder;
    padding: 10px 5px 0px 5px;
}

.prodName {
    color: skyblue;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

.prodCate {
    color: royalblue;
    padding: 0px 5px 0px 5px;
    font-size: larger;
}

.prodSale {
    font-size: small;
    color: palevioletred;
    padding: 0px 5px 0px 5px;
}