.search-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}

.search-input {
    width: 500px;
    padding: 15px;
    border: 2px solid deepskyblue;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    /* width:100px;*/
}

.searchPd {
    text-align: center;
}

    .searchPd h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: brown;
    }

.search-button:hover {
    background-color: #555;
}


.listProduct {
    text-align: left;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr) );
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.lproduct-item {
    max-height: 500px;
}

    .lproduct-item img {
        max-height: 120px;
    }

.detailproduct-item {
    width: 150px;
    max-height: 400px;
    margin: 10px;
    gap: 5px;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

    .detailproduct-item img {
        max-height: 100px;
    }

.fproduct-item, .lproduct-item, .detailproduct-item {
    border: 1px groove powderblue;
    border-radius: 10px;
}

.feature-Prod h2, .listProduct h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: pink;
    text-align: center;
}

.prodPrice {
    font-size: large;
    color: blue;
    font-weight: bolder;
    padding: 10px 5px 0px 5px;
}

.prodName {
    color: black;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

.prodCate {
    color: black;
    padding: 0px 5px 0px 5px;
}

.prodSale {
    font-size: small;
    color: palevioletred;
    padding: 0px 5px 0px 5px;
}
